bin/
obj/
*.clg
*.set
*.seq
*.cache
*.dll
*.bit
*.backup
*.licx
*.dat
*.exe
*.exe.config
*.suo
*.pdb
*.vshost.exe.manifest
TestResults/
/.vs/WordGenerator
/AtticusServer/C
/AtticusServer/target/Release-DLL/x64
/AtticusServer/Wrappers/Class1.cs
